<div class="main-content">
 <div class="image-tg">
 <div class="name">
  <div class="corporate-name">
   City
  </div>
   <div class="corporate-name2">
    Specialist
   </div>
    <div class="sub-title">
     豊富なアイディアと実績で街の課題を解決
    </div>
    </div>
 </div>

 <div class="infometion">
   <div class="news-block">
    <div class="news">News</div>
     <%= link_to "一覧を見る >", "#", class:"infometion-index"%>
   </div>
   <div class="infometion-lists">
    <div class="infometion-list">
      <div class="created-at">
        2020.3.14
      </div>
       <div class="news-icon">
        プレス
       </div>
        <div class="info-messages">
         <%= link_to "【東京オリンピック会場跡地再開発計画】複合スポーツ施設及び新テーマパーク工事開始のお知らせ", "#", class:"info-message"%>
        </div>
    </div>
    <div class="infometion-list">
      <div class="created-at">
        2020.2.30
      </div>
        <div class="news-icon">
        IR
        </div>
        <div class="info-messages">
        <%= link_to "2019年9月期 第1四半期決算説明会動画", "#", class:"info-message"%>
        </div>
      </div>
      <div class="infometion-list">
        <div class="created-at">
        2020.2.30
        </div>
        <div class="news-icon">
          IR
        </div>
          <div class="info-messages">
          <%= link_to "2019年9月期 第1四半期決算説明会資料", "#", class:"info-message"%>
          </div>
      </div>
   </div>
</div>
 <div class="main-contents-under">
  <div class="service-index">
   Service
  </div>
   <div class="service-index-under">
    CITY Labの事業
   </div>
 </div>